/* This code is the property of the River Dell Regional School District and its related entities. It may not be copied or re-used without express permission from the Development Team */
/* Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600');

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 7rem;
  min-height: 100%;
  color: #000;
  background-color: #F7F7F7;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

::selection {
  background: #057AFF;
  color: #fff;
}
::-moz-selection {
  background: #057AFF;
  color: #fff;
}

a {
  cursor: pointer;
  color: #333399;
}

a:hover {
  color: inherit;
  color: #333399;
  opacity: .75;
}

#header {
  color: #FFF;
  background: linear-gradient(to bottom right, #057AFF, #42449D);
  background-repeat: no-repeat;
  height: 90%;
  z-index: -99999999999;
}


#footer {
  color: #FFF;
  background: linear-gradient(to right, #057AFF, #42449D);
  height: 5%;
  position: absolute;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1rem;
}

#logo-center {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.logo {
  /*transform: translate(50%, 25%);*/
  width: 60%;
  text-align: center;
}

.logo-wrapper {
  position:absolute;
  height:100%;
  text-align: center;
  z-index: -99;
}

.logo-overlay h1 {
  font-size: 70pt;
  font-weight: 500;
}

.logo-overlay h3 {
  font-weight: 300;
}

.logo-overlay {
  position: absolute;
  z-index: 99999999999;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  top: 40%;
  max-width: 100%;
}

.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section-card {
  padding-top: 2px;
  margin-bottom: 30px;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
  padding: 30px 30px 30px 30px;
  background-color: #fff;
}

#card-info {
  margin-top: -3rem;
  text-align: center;
}

#card-info h3 {
  font-size: 14pt;
  margin: auto;
  margin-top: 0.75rem;

}

.thumbnail-card {
  background-color: #fff;
  border-radius: 0px;
  border-color: transparent;
  max-width: 100%;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.faq-card {
  background-color: #fff;
  border-top: 3px solid #333399;
  border-radius: 0px;
  padding: 20 20 10 20;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.faq-title {
  font-weight: 600;
}

.card-text {
  color: #9a9a9a;
}

.card-title {
  font-weight: 600;
}

.card-subtitle {
  font-weight: 400;
  margin-bottom: 0.75rem;
}

.card-details {
  padding: 20 20 20 20;
}

.img-card {
  max-width: 100%;

}

/*
#sign-up-box {
  width: 10px !important;
  padding: 0 !important;
}*/

.section-heading {
  display: inline-block;
  font-size: 22pt;
  padding-bottom: 13px;
  font-weight: 600;
}

.heading-separator {
  display: block;
  width: 100px;
  border-top: 2px solid #d9d9d9;
  padding-bottom: 1rem;
}

.img-standalone {
  width: 100%;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
}

.img-standalone-wide {
  width: 100%;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
}

.btn-one {
  color: rgb(255,255,255) !important;
  background-color: transparent;
  border-radius: 0px;
  border-width: 2px;
  border-color: #fff;
  font-weight: 300 !important;
  font-family: 'Poppins', sans-serif;
  font-size: 14pt;
	-webkit-transition: all ease 0.2s;
	-moz-transition: all ease 0.2s;
	transition: all ease 0.2s;

}

.btn-one:hover {
  color: #fff !important;
  background-color: rgba(255, 255, 255, 0.5);
	-webkit-transition: all ease 0.2s;
	-moz-transition: all ease 0.2s;
	transition: all ease 0.2s;

}

/*#card-info .btn-two {
  margin-left: 0rem;
  max-width: 100%;
}*/

.btn-two {
  color: #333399 !important;
  background-color: transparent;
  border-radius: 0px;
  border-width: 2px;
  border-color: #333399;
  font-weight: 500 !important;
  font-family: 'Poppins', sans-serif;
  font-size: 14pt;
  max-width: 100%;
	-webkit-transition: all ease 0.2s;
	-moz-transition: all ease 0.2s;
	transition: all ease 0.2s;

}

.btn-two:hover {
  color: #333399 !important;
  background-color: rgba(51, 51, 153, 0.5);
	-webkit-transition: all ease 0.2s;
	-moz-transition: all ease 0.2s;
	transition: all ease 0.2s;

}

/* Navbar */
.nav-link {
  font-weight: 500;
}

.navbar-transparent {
  background-color: transparent;
  box-shadow: 0 0 0 0;
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-text {
  color: #fff;
}

.navbar-transparent .navbar-nav .nav-link {
  color: rgba(255, 255, 255) !important;
  border-bottom: 3.5px solid transparent;
  transition: all 0.2s ease;
}

.navbar-transparent .nav-link,
.navbar-transparent .nav-item:hover .nav-link {
  font-size: 12pt;
  color: #FFF;
  border-bottom: 3.5px solid #FAFAFA;
  transition: all 0.2s ease;
}

.navbar-transparent .nav-item .active {
  border-bottom: 3.5px solid #333399 !important;
}

.navbar-transparent .dropdown-menu {
  background-color: #FFF;
}
.navbar-transparent .dropdown-item {
  color: #000;
}
.navbar-transparent .dropdown-item:hover,
.navbar-transparent .dropdown-item:focus {
  color: #333333;
  background-color: rgba(255,255,255,.5);
}

.navbar-inverse .navbar-toggler {
  margin-top: 0rem;
  background: transparent;
  border-color: transparent !important;
  border-radius: 0.25rem;
}

.navbar-inverse .navbar-toggler .icon-bar {
  background-color: #fff;
}

.navbar-inverse .nav-link, .nav-item:hover {
  color: #FFF !important;
}

/* Scrolled Nav */
.navbar-scrolled {
  background-color: #fff !important;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.navbar-scrolled .navbar-brand,
.navbar-scrolled .navbar-text {
  color: rgb(17, 17, 17);

}

.navbar-scrolled .navbar-nav .nav-link {
  color: rgb(17, 17, 17);
  border-bottom: 3.5px solid transparent;
  transition: all 0.2s ease;
}

.navbar-scrolled .nav-link,
.navbar-scrolled .nav-item:hover .nav-link {
  font-size: 12pt;
  color: rgb(17, 17, 17);
  border-bottom: 3.5px solid rgb(130, 130, 130);
  transition: all 0.2s ease;
}

.navbar-scrolled .nav-item .active {
  color: rgb(17, 17, 17);
  border-bottom: 3.5px solid #333399 !important;
}

.navbar-scrolled .dropdown-menu {
  background-color: #FFF;
}
.navbar-scrolled .dropdown-item {
  color: #000;
}
.navbar-scrolled .dropdown-item:hover,
.navbar-scrolled .dropdown-item:focus {
  color: #333333;
  background-color: rgba(255,255,255,.5);
}

.navbar-light .navbar-toggler .icon-bar {
  background-color: #888;
}

.navbar-light .navbar-toggler {
  margin-top: 0rem;
  background: transparent;
  border-color: transparent !important;
  border-radius: 0.25rem;
}


@media (max-width: 991px) {
  .navbar-brand {
    padding-left: 3.5rem;
  }
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}

.navbar-toggler {
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  font-size: 1.25rem;
  line-height: 1;
  border-radius: 0.25rem;
}

.navbar-toggler .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar {
  opacity: 0;
}
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}


#mobile-img {
  display: none;
}


/* Portrait and Landscape */
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .logo-overlay {
      font-size: 35pt;
    }

    .section-heading {
      padding-top: 30px;
    }

    #mobile-img {
      display: block !important;
    }

    #desktop-img {
      display: none !important;
    }

  }

  /* Portrait */
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {


  }

  /* Landscape */
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {



  }
