/* This code is the property of the River Dell Regional School District and its related entities. It may not be copied or re-used without express permission from the Development Team */

/* Fonts from Google - Istok Web & Overpass Mono */
@import url('https://fonts.googleapis.com/css?family=Istok+Web:400,700|Overpass+Mono:400,600');
  
/* Body Elements */
  body {
    height: 100%;
    width: 100%;
    font-family: 'Istok Web', sans-serif;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
  }

  /* Navbar */
  .navbar-transparent {
    background-color: rgba(0,0,0,0.25);
    box-shadow: 0 0 0 0;
    padding: 0.25rem 1rem 0 1rem;
  }

  .navbar-transparent .navbar-brand,
  .navbar-transparent .navbar-text {
    color: rgb(255, 255, 255);
  }

  .navbar-transparent .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
    border-bottom: 3.5px solid transparent;
    transition: all 0.2s ease;
  }

  .navbar-transparent .nav-link,
  .navbar-transparent .nav-item:hover .nav-link {
    font-size: 12pt;
    color: #FFF;
    border-bottom: 3.5px solid #FAFAFA;
    transition: all 0.2s ease;
  }

  .navbar-transparent .nav-item .active {
    border-bottom: 3.5px solid #333399 !important;
  }

  .navbar-transparent .dropdown-menu {
    background-color: #FFF;
  }
  .navbar-transparent .dropdown-item {
    color: #000;
  }
  .navbar-transparent .dropdown-item:hover,
  .navbar-transparent .dropdown-item:focus {
    color: #333333;
    background-color: rgba(255,255,255,.5);
  }

  .navbar-inverse .navbar-toggler {
    margin-top: 0rem;
    background: transparent;
    border-color: transparent !important;
    border-radius: 0.25rem;
  }

  .navbar-inverse .navbar-toggler .icon-bar {
    background-color: #fff;
  }

  /* Scrolled Nav */
  .navbar-scrolled {
    background-color: #fafafa !important;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 0.25rem 1rem 0 1rem;
  }

  .navbar-scrolled .navbar-brand,
  .navbar-scrolled .navbar-text {
    color: rgb(17, 17, 17);
  }

  .navbar-scrolled .navbar-nav .nav-link {
    color: rgba(17, 17, 17, 0.5);
    border-bottom: 3.5px solid transparent;
    transition: all 0.2s ease;
  }

  .navbar-scrolled .nav-link,
  .navbar-scrolled .nav-item:hover .nav-link {
    font-size: 12pt;
    color: rgb(17, 17, 17);
    border-bottom: 3.5px solid rgb(130, 130, 130);
    transition: all 0.2s ease;
  }

  .navbar-scrolled .nav-item .active {
    color: rgb(17, 17, 17);
    border-bottom: 3.5px solid #333399 !important;
  }

  .navbar-scrolled .dropdown-menu {
    background-color: #FFF;
  }
  .navbar-scrolled .dropdown-item {
    color: #000;
  }
  .navbar-scrolled .dropdown-item:hover,
  .navbar-scrolled .dropdown-item:focus {
    color: #333333;
    background-color: rgba(255,255,255,.5);
  }

  .navbar-light .navbar-toggler .icon-bar {
    background-color: #888;
  }

  .navbar-light .navbar-toggler {
    margin-top: 0rem;
    background: transparent;
    border-color: transparent !important;
    border-radius: 0.25rem;
  }


  @media (max-width: 991px) {
    .navbar-brand {
      padding-left: 3.5rem;
    }
  }

  .navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }

  .navbar-toggler .icon-bar + .icon-bar {
    margin-top: 4px;
  }

  .navbar-toggler {
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    font-size: 1.25rem;
    line-height: 1;
    border-radius: 0.25rem;
  }

  .navbar-toggler .icon-bar {
    width: 22px;
    transition: all 0.2s;
  }
  .navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .navbar-toggler .middle-bar {
    opacity: 0;
  }
  .navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
  .navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
  }
  .navbar-toggler.collapsed .middle-bar {
    opacity: 1;
  }
  .navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
  }

  /* Header */
  #header {
    background-image: url("http://2016.hackriverdell.com/img/rdPhantom.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    height: 100vh;
  }

  #header-bottom {
    width: 100%;
    float: left;
  }

  #header-content {
    width: 100%;
    height: 100%;
    padding: 0;
    display: table;
  }

  #header-overlay {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(51, 51, 51, 0.75);
  }

  .header-logo {
    width: 50%;
    padding-bottom: 50px;
  }

  .header-title {
    font-family: inherit;
    color: inherit;
    text-shadow: 0 0 50px black;
    font-size: 28pt;
  }

  .header-subtitle {
    font-family: inherit;
    color: inherit;
    text-shadow: 0 0 50px black;
    font-size: 22pt;
  }

  /* Header Arrow */
  @keyframes updown_animation {
    0% {
      transform: translate(0, 0);
    }

    50% {
      transform: translate(0, -13.5px);
    }

    100% {
      transform: translate(0, 0);
    }
  }

  .up-down {
    animation-name: updown_animation;
    animation-duration: 5.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  .arrow-down {
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;

      border-top: 8px solid #FFF;
  }

  #arrow {
    position: absolute;
    left: 50vw;
    bottom: 2vh;
    z-index: 500;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  /* Body Sections */
  #body-content {
    padding-top: 50px;
  }

  /* Typography */
  sh {
    font-size: 30pt;
    font-family: 'Overpass Mono', monospace;
    font-weight: 600;
    line-height: 73.5px;
    border-bottom: 3px solid #333399;
    position: relative;

  }